# /vendor/lib/omx/
allow mediacodec system_file:dir r_dir_perms;
allow mediacodec vendor_file:dir r_dir_perms;
allow mediacodec vendor_file:file { read getattr open execute };

# /sys/class/video4linux/*
r_dir_file(mediacodec, sysfs_v4l);

allow mediaswcodec vendor_file:file { execute getattr open read };
