# Boot props
type cpboot-daemon_prop, property_type, vendor_property_type;
type modemloader_prop, property_type, vendor_property_type;
type sswap_prop, property_type, vendor_property_type;

# Vendor props
type vendor_wifi_prop, property_type, vendor_property_type;
type vendor_radio_prop, property_type, vendor_property_type;
type tee_prop, property_type, vendor_property_type;
