service vendor.power-hal-1-0 /vendor/bin/hw/android.hardware.power@1.0-service.universal7580
    interface android.hardware.power@1.0::IPower default
    class hal
    user system
    group system
    writepid /dev/cpuset/system-background/tasks
